h1 title
form(method="post")
	div
		span10 Title :
			input(type="text", name="title", id="editArticleTitle")
		div
		span10 Body :
			textarea(name="body", id="editArticleBody")
		div#editArticleSubmit
			input(type="submit", value="Send")
